.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.game {
  margin: 10px;
  color: #ddd;
  background-color: #ec1561;
  padding: 20px;
  width: auto;
  min-height: 60%;
  position: relative;
}

.fields {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
}



.field-block {
  display: flex;
  min-height: 240px;
  padding: 1%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*flex: 1 0 auto;*/
  border-radius: 4px;
  background-color: #f9bad0;
  font-size: 12rem;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  display: flex;
  height: 48px;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: #2fcaaa;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05), 0 2px 12px 0 rgba(0, 0, 0, .1);
  transition: box-shadow 200ms ease-out;
  color: #fff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.sound {
  padding-left: 10%;
  padding-right: 10%;
}

.prev {
  background-color: #47b04b;
  padding-left: 5%;
  padding-right: 5%;
}

.next {
  background-color: #00a7f7;
  padding-left: 5%;
  padding-right: 5%;
}

.field-left {
  height: 100%;
    width: 45%;
    display: inline-block;
    margin-right: 2%;
    font-size: 13px;
}

.field-rigth {
  height: 100%;
  width: 45%;
  display: inline-block;
  font-size: 13px;

}
.images{
  height: 100%;
  width: 100%;
}

.words{
  font-size: 20px;
}

.hide{
  display: none;
}
.random-label {
  font-size: 2rem;
  margin-left: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: -7px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
